.DS_Store

build/

*.pbxuser
!default.pbxuser
*.perspective
*.perspectivev3
!default.perspectivev3

*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3

xcuserdata
xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad

*.xccheckout
*.moved-aside
*.xcuserdata
*.xcuserdatad
*.xcshareddata

DerivedData
*.hmap
*.ipa
*.xcuserstate


Pods

DerivedData
build
